<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Class API</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value><![CDATA[
            classpath*:/applicationContext-service.xml
            classpath*:/applicationContext-dao.xml
        ]]></param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>

  <servlet>
    <servlet-name>getrevision</servlet-name>
    <jsp-file>/revision.jsp</jsp-file>
    <async-supported>true</async-supported>
  </servlet>

  <servlet-mapping>
    <servlet-name>getrevision</servlet-name>
    <url-pattern>/revision</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/service/*</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>HeaderLogFilter</filter-name>
    <filter-class>com.smile.clz.api.webapp.controller.filter.LogFilter</filter-class>
    <async-supported>true</async-supported>
  </filter>

  <filter-mapping>
    <filter-name>HeaderLogFilter</filter-name>
    <url-pattern>/service/*</url-pattern>
  </filter-mapping>

</web-app>
