<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="classDataSource" />
    </bean>

    <bean id="classDataSource" factory-bean="classDataSourceConfig" factory-method="dataSource">
    </bean>

    <bean id="classDataSourceConfig" class="com.smile.clz.api.db.EmbeddedDataSourceConfig">
    </bean>

</beans>