<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="true">

    <!-- Enable AOP support -->
    <aop:aspectj-autoproxy/>

    <context:annotation-config/>

    <context:component-scan base-package="com.smile.clz.api.core.aspect"/>
    <context:component-scan base-package="com.smile.clz.api.core.concurrent"/>
    <context:component-scan base-package="com.smile.clz.api.core.config"/>
    <context:component-scan base-package="com.smile.clz.api.core.dao"/>
    <context:component-scan base-package="com.smile.clz.api.core.service"/>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:class-api/class-api.properties</value>
            </list>
        </property>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="ApplicationResources"/>
    </bean>

    <util:map id="jsonHeaderMap" key-type="java.lang.String" value-type="java.lang.String">
        <entry key="Accept" value-ref="json"/>
        <entry key="Content-Type" value-ref="json" />
    </util:map>

    <util:map id="idmHeaderMap" key-type="java.lang.String" value-type="java.lang.String">
        <entry key="Accept" value-ref="idm-accept-header"/>
        <entry key="Content-Type" value-ref="json" />
    </util:map>

    <util:constant id="json" static-field="com.smile.clz.api.core.Constants.APPLICATION_JSON"/>
    <util:constant id="idm-accept-header" static-field="com.smile.clz.api.core.Constants.IDM_APPLICATION_JSON"/>

</beans>
